@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@100..900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Progress styles override */
progress {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  grid-column: 1 / -1;
}

::-webkit-progress-bar {
  background-color: #ffe5d8;
  border-radius: 100px;
}
::-webkit-progress-value {
  background-color: #ff5b08;
  border-radius: 100px;
}
